/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1{

	$root:&;
	display: flex;
    flex-wrap: wrap;


	//-------------------------------------------------------
	&--col3{

		#{$root}__card{
			width: 253px;
			@include sp{
				width: 49%;
				margin-left: 2%;
			}

			//-----------------------------------------------
			&:nth-child(4n+1){
				margin-left: 20px;
				@include sp{
					margin-left: 2%;
				}
			}

			//-----------------------------------------------
			&:nth-child(3n+1){
				margin-left: 0px;
				@include sp{
					margin-left: 2%;
				}
			}

			//-----------------------------------------------
			&:nth-child(2n+1){
				@include sp{
					margin-left: 0;
				}
			}

		}

	}


	//-------------------------------------------------------
	&__card{

		width: 185px;
		margin-bottom: 20px;
		margin-left: 20px;
		@include sp{
			width: 49%;
			margin-left: 2%;
		}

		//----------------------------------------------------
		&:nth-child(4n+1){
			margin-left: 0px;
		}

		//----------------------------------------------------
		&:nth-child(2n+1){
			@include sp{
				margin-left: 0;
			}
		}

	}

	//-------------------------------------------------------
	&__img1{
		img{
			@include sp{
				width: 100%;
				height: auto;
			}
		}
	}

	//-------------------------------------------------------
	&__info{
		margin-top: 10px;
		display: flex;
	}

	//-------------------------------------------------------
	&__img2{
		width: 50px;
		margin-right: 10px;
	}

	//-------------------------------------------------------
	&__text{
	    flex: 1;
		h3{
			font-size: 1.4rem;
		}
		p{
			font-size: 1.2rem;
		}
	}

}

/*
------------------------------------------------------------*/
.c-list2{
	ul{
		margin-left: 1.7rem;
	}
	li{
		list-style-type: disc;
		font-size: 1.4rem;
	}
}


/*
------------------------------------------------------------*/
.c-list3{
	ol{
		margin-left: 1.7rem;
	}
	li{
		list-style-type: decimal;
		font-size: 1.4rem;
	}
}

/*
------------------------------------------------------------*/
.c-list4{
	ul{
		border-top: 1px solid #CCC;
	}
	li{
		border-bottom: 1px solid #CCC;

		&:first-child{
		}
	}
	a{
		text-decoration: none;
		display: block;
		padding: 12px 10px;
		font-size: 1.3rem;
	}
}

/*
------------------------------------------------------------*/
.c-list5{
	li{
		margin-top: 15px;
		&:first-child{
			margin-top: 0;
		}
	}
}

