/*------------------------------------------------------------
company
------------------------------------------------------------*/

/* 
------------------------------------------------------------*/
.p-company{}

/* 
------------------------------------------------------------*/
.p-company1{
	margin-bottom: 40px;
	p{
		margin-bottom: 20px;
	}
}

/* 
------------------------------------------------------------*/
.p-company2{
	margin-bottom: 40px;
	
	.c-table1{
		margin-bottom: 30px;
	}

}

/* 
------------------------------------------------------------*/
.p-company3{

	p{
		margin-bottom: 10px;
	}

	.c-list2{
		margin-bottom: 30px;
		li{
			font-size: 1.6rem;
		}
	}

	.c-line1{
		margin-top: 30px;
		margin-bottom: 30px;
	}

	&__txt1{
		p{
			color: #8CC152;
			
		}
	}

	&__txt2{
		p{
			color: #DA4453;
			font-size: 1.2rem;
		}
	}

}

/* 
------------------------------------------------------------*/
.c-company4{
	display: flex;
	margin-top: 30px;
	
	&__img{
		width: 180px;
		margin-right: 15px;
		@include sp{
			width: 100px;
		}
	}

	&__txt{
        flex: 1;

	}

}

